<a href="https://colab.research.google.com/github/DV-tutorials/python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fruits =[]

print(fruits)

for i in range(5):
    user_input = input('enter fruits list : ')
    fruits.insert(i, user_input)

print(fruits)

In [ ]:
for i in range(3):
    user_input = input('enter remaining items : ')
    fruits.append(user_input)

enter remaining items : dhania
enter remaining items : milk
enter remaining items : other

In [ ]:
fruits

['apple', 'orange', 'kiwi', 'pineapple', 'melon', 'dhania', 'milk', 'other']

In [ ]:
newlist =[1,2,3,4]
list2 = ['a','b']
# list2.append(newlist)

# extend --> merge two lists

In [ ]:
list2.extend(newlist)
list2

['a', 'b', 1, 2, 3, 4]

user input ->> add list empty (numbers)
average -> sum of numbers/total length list
output -> average

In [ ]:
sum(newlist)

10

In [ ]:
mnumbers=[]
avg = 0
for i in range(5):
    user_input = int(input('enter a number '))
    numbers.append(user_input)
    avg = sum(numbers)/len(numbers)
print('average',avg)

enter a number1
enter a number2
enter a number3
enter a number4
enter a number5
average 3.0

Random module

In [ ]:
import random

print(random.randint(1,10))

2

In [1]:
from random import randint
randint(2882,4648)

4465

In [ ]:
random_numbers = []
for i in range(10):
  random_numbers.append(randint(1000,2000))

print(random_numbers)
even =[]
odd = []
for num in random_numbers:
  if num %2==0:
    even.append(num)
  else:
    odd.append(num)
print(even)
print(odd)

POP method --> remove last element

In [10]:
random_numbers.pop()
random_numbers

[1168, 1713, 1751, 1416, 1496, 1604, 1836]

In [24]:
fruits = ['apple','banana','kiwi','lichi']
# fruits.pop(2)
# fruits
fruits.remove('apple')
fruits

['banana', 'kiwi', 'lichi']

del keyword

In [19]:
numbers =[1,2,3,4,5]
del numbers

clear --> to clear a sequence

In [21]:
numbers = [1,2,3,4,5]
numbers.clear()
numbers

[]

In [23]:
v = 'hello'
if 'hh' in v:
  print('found')

take names from user and add to list and remove a name from list given by user

In [27]:
names =[]
for i in range(5):
  name = input('enter your name: ')
  if name not in names:
    names.append(name)

print(names)

# delete the name
del_name = input('Enter the name to remove: ')

if del_name in names:
  names.remove(del_name)
else:
  print('Name not found in list')

print(names)

enter your name: akash
enter your name: amit
enter your name: rahul
enter your name: rohit
enter your name: akash
['akash', 'amit', 'rahul', 'rohit']
Enter the name to remove: rohit
['akash', 'amit', 'rahul']

Sort- sort the sequence

In [33]:
numbers = [2,3,4,1,33,4,45,3,0]
numbers
numbers.sort(reverse=False)
numbers.sort(reverse=True)

numbers

[0, 1, 2, 3, 3, 4, 4, 33, 45]